body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(19, 19, 19);
  color: rgb(134, 35, 134);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.upperBar {
  height: 6vh;

  background-color: rgb(25, 20, 20);
  display: block;

  position: sticky;
  top: 0;
  color: whitesmoke;
  font-family: monospace;
}

.wrapper {
  display: flex;
}

.display {
  display: flex;
  justify-content: center;
  justify-items: center;

  width: 100%;
  border: 2px white solid;
}

.forms {
  display: block;
}

#todo:hover {
  color: whitesmoke;
  cursor: pointer;
}

.postBox {
  width: 50vh;
  height: 40vh;
  padding: 2%;

  border: 2px white solid;
  position: sticky;
  top: 0;
  font-size: larger;
  background-color: rgb(37, 36, 36);
}

.postBox #titleBox {
  font-size: larger;
}

.postBox #checkboxContainer {
  /* display: inline-block; */
  margin-top: 4%;
}

.postBox #checkboxContainer #checkbox {
  font-size: larger;
  cursor: pointer;
}

#Btn {
  font-size: larger;
  border: transparent;
  margin-top: 4%;
  cursor: pointer;
}

.updateBox {
  width: 50vh;
  height: 40vh;
  padding: 2%;

  border: 2px white solid;
  position: sticky;
  top: 0;
  font-size: larger;
  background-color: rgb(37, 36, 36);
  position: sticky;
  top: 42vh;
}

.updateBox #titleBox {
  font-size: larger;
}

.updateBox #checkboxContainer {
  /* display: inline-block; */
  margin-top: 4%;
}

.updateBox #checkboxContainer #checkbox {
  font-size: larger;
  cursor: pointer;
}

#Btn {
  font-size: larger;
  border: transparent;
  margin-top: 4%;
  cursor: pointer;
}

#deleteIcon {
  font-size: 12px;
  color: rgb(208, 53, 53);
  cursor: pointer;
  border: transparent;
}

#deleteIcon:hover {
  font-size: 18px;
  color: rgb(212, 50, 50);
}
